[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "lox"
version = "0.1.0"
description = "Logging library for JAX that compatible with transformations such as jit and vmap."
readme = "README.md"
requires-python = ">=3.7"
license = { text = "Apache-2.0" }
authors = [
  { name = "huterguier", email = "huterguier@gmail.com" }
]
dependencies = [
  "jax>=0.4.25"
]

[pyproject.optional-dependencies]
wandb = [
  "wandb>=0.15.0"
]
neptune = [
  "neptune-client>=0.14.0"
]

[project.urls]
Homepage = "https://github.com/huterguier/lox"

[project.classifiers]
# Optional, but good to include for PyPI
classifiers = [
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
  "License :: OSI Approved :: Apache Software License"
]
